<div class="container-fliud">

	<div class="col-md-4">
		<p><%= image_tag @employee.avatar.url(:medium) %></p>
		<%= link_to "Back to Employees", employees_path %>
  </div>

  <div class="col-md-1"></div>

	<div class="col-md-7">
		
		<h1><%= @employee.first_name %> <%= @employee.last_name %></h1></br>
		<strong>First Name:</strong>
		<p><%= @employee.first_name %></p>
		<strong>Last Name:</strong>
		<p><%= @employee.last_name %></p>
		<strong>Barcode ID:</strong>
		<p><%= @employee.employee_barcode %></p>
	</div>

</div>
