<div class="col-md-6">
  <%= simple_form_for @issuance do |f| %>
    <% if @issuance.errors.any? %>
      <div id="error_explanation" class="alert alert-danger close" data-dismiss="alert" >
        <h2><%= pluralize(@issuance.errors.count, "error") %> prohibited this transaction from being saved:</h2>

        <ul>
         <% @issuance.errors.full_messages.each do |message| %>
          <li> * <%= message %></li>
         <% end %>
        </ul>
      </div>
    <% end %>


  <div class="form-group">
      <div class="form-group">
        <%= f.label :incoming_employee_barcode, "Employee Barcode" %>
        <%= f.text_field :incoming_employee_barcode, class: "form-control", autofocus: true %>
      </div>
      <%#= f.association :employee, label_method: lambda { |employee| "#{employee.first_name}  #{employee.last_name}" }, value_method: :barcode, :prompt => 'Choose an employee' %>
      <br>
      
      <h3>Line Items</h3>
        <div id="line_items">
          <%= f.simple_fields_for :line_items do |line_item| %>
            <%= render 'line_item_fields', :f => line_item %>
          <% end %>
          <div class="links">
            <%= link_to_add_association 'add line item', f, :line_items %>
          </div>
        </div>

      <%= f.submit "Submit", class: "btn btn-primary" %>

  </div>
    
  
  <% end %>

</div>


    <!-- You don't need Issued On as you can refer to created_at -->
<!--     <div class="form-group">
      <%#= f.label :issued_on, "Issued On" %>
      <%#= f.text_field :issued_on, :value => Time.now.in_time_zone("Eastern Time (US & Canada)"), class: "form-control" %>
    </div> -->