<div class="col-md-12">
  <%= simple_form_for @issuance do |f| %>
  <% if @issuance.errors.any? %>
  <div id="error_explanation" class="alert alert-danger close" data-dismiss="alert" >
    <h2><%= pluralize(@issuance.errors.count, "error") %> prohibited this transaction from being saved:</h2>

    <ul>
     <% @issuance.errors.full_messages.each do |message| %>
     <li> * <%= message %></li>
     <% end %>
   </ul>
 </div>
 <% end %>


 <div class="form-group">
  <div class="row">
    <div class="col-lg-8">
      <div class="form-group">
        <%= f.label :incoming_employee_barcode, "Employee Barcode" %>
        <div class="input-group input-group-lg">
          <%= f.text_field :incoming_employee_barcode, :class => "form-control", autofocus: true %>
          <span class="input-group-btn">
            <button type="button" id="search-employee", data-toggle="modal" data-target="#employeeSearchModal" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            <button type="button" id="activate_scanner", data-toggle="modal" data-target="#myModal" class="btn btn-default"><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span></button>
          </span>
        </div>
          <div class="employee-search-result"></div>
      </div>
    </div>
  </div> 
  
  <%= render 'employee_search_modal' %>

  <%= render 'employee_confirmation_modal' %>


  <h3>Line Items</h3>

  <div id="line_items">
    <%= f.simple_fields_for :line_items do |line_item| %>
    <%= render 'line_item_fields', :f => line_item %>
    <% end %>
  </div>


  <div>
    <%= link_to_add_association '', f, :line_items, class: "btn btn-default btn-lg btn-block glyphicon glyphicon-plus" %>
  </div><br>
  <div>
    <%= submit_tag "Procced", :type => "button", :class => "btn btn-primary", data: { disable_with: "Please wait..." } %>
    <%= link_to "Cancel", issuances_path, class: "btn btn-default" %>
  </div>

</div>
    
<%= render "issuance_contract" %>    
<% end %>

</div>

