<div class="nested-fields line_item_fields">
  <div class="well">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :incoming_tool_barcode, "Tool Barcode", :id => "tool_barcode" %>
          <div class="input-group input-group-md">
            <%= f.text_field :incoming_tool_barcode, class: "form-control", autofocus: true %><br/>
            <span class="input-group-btn">
              <button type="button" id="search-tool", data-toggle="modal" data-target="#toolSearchModal" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              <button type="button" id="activate_scanner_tool", data-toggle="modal" data-target="#toolModal" class="btn btn-default"><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span></button>
            </span>
          </div>
      </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <%= f.label :quantity, "Quantity" %>
          <!-- Tool quantity is default to 1 only -->
          <%= f.text_field :quantity, :value => 1, :readonly => true, class: "form-control" %>
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="form-group">
          <%= f.label :due_date, :id => 'due_date' %><br>
          <%= f.date_field :due_date, class: "form-control" %>
        </div>
      </div><br/>

      <div class="col-md-3">
        <%= link_to_remove_association "remove line item", f, class: "btn btn-danger btn-lg" %>
      </div>
    </div><!-- end of row -->
  </div><!-- end of well -->


  <div class="modal fade" id="toolModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Scanning tool barcode...</h4>
        </div>
        <div class="modal-body">
          <div id ="webcam_tool_placeholder" style="width:330px" >
            <div id="webcam_tool">
            </div>
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div> <!-- end of modal content -->
    </div> <!-- end of modal dialog -->
  </div> <!-- end of modal fade -->
      

</div><!-- end of nested fields line item fields -->

