<div class="page-header">
    <h1>Return Tool</h1>
</div>
  
<div class="col-md-6">
  <%= simple_form_for @issuance do |f| %>
    <% if @issuance.errors.any? %>
      <div id="error_explanation" class="bit-warning">
        <h2><%= pluralize(@issuance.errors.count, "error") %> prohibited this transaction from being saved:</h2>

        <ul>
         <% @issuance.errors.full_messages.each do |message| %>
          <li><%= message %></li>
         <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="form-group">
        <div class="form-group">
          <%= f.association :employee, label_method: lambda { |employee| "#{employee.first_name}  #{employee.last_name}" }, value_method: :barcode %>
        </div>
        <br>
        
        <h3>Line Items</h3>
          <div id="line_items">
            <%= f.simple_fields_for :line_items do |line_item| %>
              <div class="nested-fields line_item_fields">
                
                <div class="form-group">
                  <%= f.label :quantity %>
                  <%= f.text_field :quantity, class: "form-control" %>
                </div>
                
                <div class="form-group">
                  <%= f.label :due_date %><br>
                  <%= f.date_field :due_date, class: "form-control" %>
                </div>
                
                <%= link_to_remove_association "remove line item", f %>
              </div>

            <% end %>
            <div class="links">
              <%= link_to_add_association 'add line item', f, :line_items %>
            </div>
          </div>

        <%= f.submit "Submit", class: "btn btn-primary" %>

    </div>

    <% end %>


</div>