<div class="page-header">
  <div class="row">
    <div class="col-md-10">
      <h1>Transactions </h1>
    </div><br>
    <div class="col-md-2">
      <%= link_to 'Issue a Tool', new_issuance_path, class: "btn btn-primary" %>
    </div>
  </div>
</div><br>
    

    <!-- additional search filter to show outstanding issuance only -->
    <input id="outstanding-only" type="checkbox" > Show outstanding only</input>
    <br>
    <br>
    <table id="issuance-table" class="table display responsive no-wrap">
      <thead>
        <tr>
          <th>Id</th>
          <th>Employee</th>
          <th>Issued On</th>
          <th>No. of items</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @issuances.each do |issuance| %>
            <tr>
            	<td><%= issuance.id %></td>
              <td><%= issuance.employee.first_name %> <%= issuance.employee.last_name %></td>
              <td><%= issuance.created_at %></td>
              <td><%= issuance.line_items.count %></td>
              <td><%= link_to 'Show', issuance_line_items_path(issuance) %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  
