
<div class="page-header">
	<div class="row">
		<div class="col-md-10">
			<h2>TRANSACTION ID: <%= @issuance.id %></h2>
			<p>Employee Barcode: <%= @issuance.employee_barcode %></p>
			<p>Issuance Date: <%= @issuance.created_at %></p>
		</div><br><br><br><br>
		<div class="col-sm-2">
			<%= link_to "Back to issuances", issuances_path, class: "btn btn-primary" %>
		</div>
	</div>
</div><br/>

<div class="row">
	<div class="col-md-12">
		<table class="table table-hover info-list">
			<thead>
					<th>Tool Barcode</th>
					<th>Tool Description</th>
					<th>Qty Out</th>
					<th>Due Date</th>
					<th>Returned On</th>
					<th></th>
			</thead>

			<tbody>
				<% @issuance.line_items.each do |line_item| %>
					<tr>
						<td><%= line_item.tool.barcode %></td>
						<td><%= line_item.tool.description %> </td>
						<td><%= line_item.quantity %></td>
						<td><%= line_item.due_date %></td>
						<td><%= line_item.return_date %></td>
						<td>
							<%= form_for line_item do |f| %>
								<%= f.submit "Return tool", class: "btn btn-default" %>
							<% end %>	
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>