<!DOCTYPE html>
<html>

	<head>
		<title>Toolhero</title>
		<%= stylesheet_link_tag    'application' %>
		<%= javascript_include_tag 'application' %>
		<%= csrf_meta_tags %>
	</head>

	<body>

		<% if user_signed_in? %>
			<%= render 'layouts/header' %>
		<% end %>

		<div class="container">
			<%= flash_messages %>
			<%#= render partial: "shared/flash_messages", flash: flash %>
			<%# flash.each do |name, msg| %>
			<%#= content_tag :div, msg, :id => "flash_#{name}" %>
			<%# end %>
		</div>

		<% if user_signed_in? %>
			<div class="container">
				<%= yield %>
			</div>
		<% else %>
			<%= yield %>
		<% end %>


	</body>

</html>
